.sliderContainer{
    height: 75vh;
    position: relative;
    button{
        font-size: 3rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: transparent;
        color: grey;
        height: 50px;
        width: 50px;
        position: absolute;
        z-index: 1;
    }
    .rightButton{
        top: 35vh;
        right: 10vw;
    }
    .leftButton{
        top: 35vh;
        left: 10vw;
    }
    .slide{
        display: flex;
        position: absolute;
        transition: left 0.5s;
        div{
            position: relative;
            margin: 0 15vw;
            flex: 1;
            transition: opacity 0.5s;
            .headerTitle{
                position: absolute;
                text-align: center;
                font-size: 3rem;
                padding: 25px 50px;
                bottom: 0;
                left: 0;
                right: 0;
                height: 20vh;
                color: white;
                font-weight: bolder;
                background-image: linear-gradient(180deg, transparent,30%, black);
                margin: 0;
            }
            
            img{
                width: 70vw;
                height: 75vh;
                object-fit: fill;
            }
        }
        .slidePic{
            
            opacity: 50%;
        }
    }
}
