.Searchbar {
  .searchLogo {
    i {
      font-size: x-large;
      position: relative;
    }
    .closeSearch {
      border-radius: 30px;
      padding: 5px 5px;
      display: inline-block;
      transition: all 1s ease;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      &::after {
        width: 0%;
        transition: all 0.3s ease;
      }
      i {
        pointer-events: none;
        color: #333;
        top: 5px;
      }
      input {
        width: 10px;
        height: 25px;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.5s ease, width 1s ease;
        border: transparent;
        outline: none;
      }
    }

    .openSearch {
      display: inline-block;
      background-color: #fff;
      padding: 5px 0 5px 15px;
      transition: all 1s ease;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 94%;
        background-color: #f0ad4e;
        transition: all 1s ease 0.5s;
      }
      
      input {
        transition: width 1s ease, opacity 0.5s ease 0.5s;
        opacity: 1;
        width: 500px;
        height: 25px;
        border: 0;
        outline: none;
        color: darken(#f0ad4e, 25);
      }
      i {
        top: 5px;
        right: 5px;
        color: #333;
        cursor: pointer;
      }
    }
  }
}
