.Searchbar {
  align-content: center;
  
  .searchLogo {
    .searchIcon {
      font-size: x-large;
      position: relative;
    }
    .searchLabel {
      display: inline-block;
      padding: 5px 0 5px 5px;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 92%;
        background-color: #f0ad4e;
        transition: all 1s ease 0.5s;
      }

      input {
        width: 400px;
        height: 25px;
        background-color: #f2f2f2;
        border: 0;
        outline: none;
        color: darken(#f0ad4e, 25);
      }
      .searchIcon {
        top: 5px;
        right: 5px;
        color: #333;
        cursor: pointer;
      }
    }
  }
}
